<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springrest.domain.role.repository.RoleInfoMapper">


    <sql id="RoleInfoColumns">
        ROLE_ID, ROLE_NAME, ROLE_DESC, USE_YN, 
        SYS_INSERT_DTM, SYS_INSERT_USER_ID, SYS_UPDATE_DTM, SYS_UPDATE_USER_ID
    </sql>

    <select id="findById" resultType="com.example.springrest.domain.role.model.entity.RoleInfo">
        SELECT <include refid="RoleInfoColumns"/>
        FROM CHMM_ROLE_INFO
        WHERE ROLE_ID = #{roleId}
    </select>

    <select id="findAll" resultType="com.example.springrest.domain.role.model.entity.RoleInfo">
        SELECT <include refid="RoleInfoColumns"/>
        FROM CHMM_ROLE_INFO
        ORDER BY ROLE_ID ASC
    </select>

    <select id="findAllWithSearch" resultType="com.example.springrest.domain.role.model.entity.RoleInfo">
        SELECT <include refid="RoleInfoColumns"/>
        FROM CHMM_ROLE_INFO
        <where>
            <if test="searchId != null and searchId != ''">
                (ROLE_ID LIKE CONCAT('%', #{searchId}, '%')
                OR ROLE_NAME LIKE CONCAT('%', #{searchId}, '%'))
            </if>
        </where>
        ORDER BY ROLE_ID ASC
    </select>

    <insert id="insert">
        INSERT INTO CHMM_ROLE_INFO (
            <include refid="RoleInfoColumns"/>
        ) VALUES (
            #{roleId}, #{roleName}, #{roleDesc}, #{useYn}, 
            NOW(), #{sysInsertUserId}, NOW(), #{sysUpdateUserId}
        )
    </insert>

    <update id="update">
        UPDATE CHMM_ROLE_INFO
        SET ROLE_NAME = #{roleName},
            ROLE_DESC = #{roleDesc},
            USE_YN = #{useYn},
            SYS_UPDATE_DTM = NOW(),
            SYS_UPDATE_USER_ID = #{sysUpdateUserId}
        WHERE ROLE_ID = #{roleId}
    </update>

    <delete id="delete">
        DELETE FROM CHMM_ROLE_INFO
        WHERE ROLE_ID = #{roleId}
    </delete>
</mapper>
